{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "transform-inline-environment-variables",
    [
      "emotion",
      {
        "sourceMap": true,
        "autoLabel": false,
        "labelFormat": "[local]",
        "cssPropOptimization": true,
      }
    ],
    [
      "transform-react-remove-prop-types",
      {
        "mode": "remove",
        "removeImport": true
      }
    ]
  ],
  "env": {
    "development": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": ["@babel/plugin-proposal-class-properties"]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "babel-plugin-emotion",
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}
